PORT=4000
JWT_SECRET=gloriam-school-secret-key
NODE_ENV=development
ALLOWED_ORIGINS=https://gloriam.rw,http://localhost:5173,http://localhost:5174
FORCE_HTTPS=false

DB_HOST=localhost
DB_PORT=5000
DB_USER=xoqxampf_gloriam_user
DB_PASSWORD=gloriam_user
DB_NAME=xoqxampf_gloriam_db

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=gloriaminternationalschool@gmail.com
DEFAULT_ADMIN_PASSWORD=peter__++.
