PORT=4000
JWT_SECRET=gloriam-school-secret-key
NODE_ENV=development
ALLOWED_ORIGINS=https://gloriam.rw,http://localhost:5173,http://localhost:5174
FORCE_HTTPS=false

DB_HOST=mysql-10652c31-angelazigama12-0ec7.h.aivencloud.com
DB_PORT=21538
DB_USER=avnadmin
DB_PASSWORD=<redacted>
DB_NAME=defaultdb

DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_EMAIL=gloriaminternationalschool@gmail.com
DEFAULT_ADMIN_PASSWORD=peter__++.
